<html>
    <head>
<style>
    div.homewrap {margin:auto; max-width:80em; width:90%}
</style>
    </head>
    <html>
        <div class="homewrap">
            <h1> This is a header</h1>
            <p>As mentioned in the previous chapter; a block-level element always takes up the full width available (stretches out to the left and right as far as it can).

Setting the width of a block-level element will prevent it from stretching out to the edges of its container. Then, you can set the margins to auto, to horizontally center the element within its container. The element will take up the specified width, and the remaining space will be split equally between the two margins:
            </p>
        </div>
    </html>
</html>


